audioread==3.0.1
blinker===1.8.2
click==8.1.7
fastapi==0.115.2
flask==3.0.3
gunicorn==23.0.0
jinja2==3.1.4
joblib==1.4.2
keras==3.6.0
librosa==0.10.2.post1
matplotlib==3.9.2
python-multipart
noisereduce==3.0.3
numpy==1.26.4
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
soundfile==0.12.1
setuptools
wheel
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel
tk
tqdm
uvicorn==0.31.1


